body {
    background-color: #FFFDE7 ;
    border: 1px solid #9E9E9E;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #D40000;
    background-color:#FFD9E6 ;
}

.xanh {
    color: #0033CC ;
}

.do {
    color: #D40000;
}

hr{
    width: 55%;
    border-top: 1px solid #0033CC ;
}